* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url('/img/qatar-airways-a7-ahh-w-cabin-fenixsim-a320-v2-8k-4k-176187-1711278347-zsBmd.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.logo {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}

h2 {
    color: #4A90E2; /* Color del título */
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #857e7e;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    border-color: #4A90E2; /* Color del borde al enfocar */
    outline: none;
}

.btn {
    width: 100%;
    background-color: #540d0d; /* Color de fondo del botón */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #470808; /* Color del botón al pasar el cursor */
    transform: translateY(-2px);
}
